/* a=0 b=0 c=1 001*/
h1{    
    border-radius: 20px;    
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    background-color:rgb(100, 53, 0);
    color: white;
    font-size: 2em;
    font: Verdana, serif;
}
/* a=0 b=0 c=1 001*/
h2,h3{    
    color: black;
    background-color:white;
    text-transform: uppercase;
    text-align: center;
    font:1.5em, Verdana, serif;

}
/* a=0 b=0 c=1 001*/
p{
    font-size: 1.5em;
    color: black;
    background-color:white;
}
/*a=0 b=1 c=1 011*/
input[type="button"] {
  position: relative;
  cursor: pointer;
  width: 150px;
  height: 40px;
  background: white;
  border-radius: 33px;
  margin: 0px 7px 11px 1px;
  color: black;
  line-height: 36px;
  text-align: center;
}





